<!DOCTYPE html>
<html>
<head>
  <title>CspaceConverter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <%= render 'shared/header' %>
    <%= render 'shared/navigation' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </div>

</body>
</html>
